body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background-color:black;
   
}
#top{
    position: absolute;
    top:0;
    width: 100vw;
    height:50vh;
    background-image:url(top2.png);
    background-size:cover;
    background-position:bottom;
    transition: all 5s ease-in-out;
    display:flex;
    flex-flow: row wrap;
    text-align:center;
    z-index:10;
    
}
#top #Twynot{
    position: absolute;
    width:100%;
    font-size:4em;
    font-family: 'Notable', sans-serif;
    color:rgba(0, 0, 0, 0.678);
    text-shadow:5px 5px 10px rgb(255, 255, 255);
}
#top #STwynot{
    position:absolute;
    top:25%;
    width:100%;
    font-size:2em;
    font-family: 'Yesteryear', cursive;
    color:rgba(0, 0, 0, 0.678);
    text-shadow:5px 5px 10px rgb(255, 255, 255);
}

#Welcome{
    position:absolute;
    z-index:100;
    top:45%;
    left:50%;
    transform: translateX(-50%);
    transition: all 5s ease-in-out;
}
#Welcome img{
    width:20vw;
    opacity:0.5;
}
#Welcome #Wimg{
    position: absolute;
    font-family: 'Poller One', cursive;
    font-size:3em;
    top:1.8vh;
    left:50%;
    transform: translateX(-50%)translateY(-20%);
    
}
#bot{
    position: absolute;
    width: 100vw;
    top:50vh;
    height:50vh;
    background-image:url(bot2.png);
    background-size:cover;
    background-position:top;
    transition: all 5s ease-in-out;
    text-align:center;
    z-index:10;
}
#bot #CreaBy{
    position: absolute;
    width:100%;
    top:55%;
    font-size:3em;
    font-family: 'Notable', sans-serif;
    text-shadow:5px 5px 10px rgb(255, 255, 255);
    color:rgba(0, 0, 0, 0.678);
}
#bot #STcrea{
    position: absolute;
    width:100%;
    top:75%;
    font-size:1.5em;
    font-family: 'Yesteryear', cursive;
    color:rgba(0, 0, 0, 0.678);
    text-shadow:5px 5px 10px rgb(255, 255, 255);
}
#container{
    display:flex;
    flex-flow: row wrap;
    width:100vw;
    height:100vh;
    z-index:-3;
    
}

/*    LEFT====================== */
#left{
    width:50vw;
    height:100vh;
    transition: all 2s ease-in-out;
    background-image:url(code.jpg);
    display:flex;
    flex-flow: row wrap;
    transform-style: preserve-3d;
    
}
#leftfront{
    backface-visibility: hidden;
    width:100%;
}

#Tcomp{
    width:100%;
    height:10vh;
    font-family: 'Notable', sans-serif;
    color:rgba(255, 255, 255, 0.678);
    text-shadow:5px 5px 10px rgb(37, 36, 36);
    font-size:3em;
}
#STcomp{
    margin-top:20vh;
    text-align: center;
    width:100%;
    height:10vh;
    font-family: 'Yesteryear', cursive;
    color:rgba(255, 255, 255, 0.678);
    text-shadow:5px 5px 10px rgb(37, 36, 36);
    font-size:1.5em;
}
#STcomp span{
   color:black;
    background-color:rgb(255, 255, 255);
}

#bcomp{
    width:100%;
    margin-top:40vh;
    height:10vh;
    text-align: center;
    font-family: 'Poller One', cursive;
    color:rgba(0, 0, 0, 0.678);
    text-shadow:5px 5px 10px rgb(255, 255, 255);
    font-size:2em;
}
/* LEFT BACK CONTENT */
#leftback{
    position:absolute;
    backface-visibility: hidden;
    overflow:scroll;
    width:50vw;
    height:100vh;
    transform: rotateY(180deg);
    transition: all 2s ease-in-out;
    background-color:#eae0cc;
}
#TcompB{
    background-color:#4d6a6d;
    border-bottom:2px solid #668586;
    color:white;
    font-size:2em;
    text-align: center;
    font-family: 'Notable', sans-serif;
}
.TextCompB{
    text-align: center;
    margin-top:5vh;
    font-family: 'Cardo', serif;
}
.Langage{
    margin-top:5vh;
    background-color:#F2F7F2;
    border:2px solid #668586;
    padding-bottom:1vh;
}
.langagename{
    padding-top:1vh;
    font-family: 'Yesteryear', cursive;
}
#buttoncolors{
    background-color:#668586;
    box-shadow: inset 5px 5px 20px #5B507A;
    border-color:#F2F7F2;
}
.show{display:none;}
/* RIGHT */
#right{
    width:50vw;
    height:100vh;
    
}
/* right top */
#topright{
    transform-style: preserve-3d;
    transition: all 2s ease-in-out;
}
#topRfront{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    height:50vh;
    background-color:#eae0cc;
   
}
#topRfront img{
  
}
#TPres{
    width:100%;
    height:10vh;
    font-family: 'Notable', sans-serif;
    color:rgb(255, 255, 255);
    border-bottom:5px solid #668586;
    background-color:#4d6a6d;
    font-size:3em;
}
/* right top back*/
#topRback{
    position:absolute;
    top:0;
    width:50vw;
    height:50vh;
    overflow: scroll;
    transform: rotateY(180deg);
    transition: all 2s ease-in-out;
    background-color:#eae0cc;
    backface-visibility: hidden;
}
#TitletopRback{
    width:100%;
    text-align:center;
    font-family: 'Notable', sans-serif;
    color:rgb(255, 255, 255);
    background-color:#4d6a6d;
    border-bottom:3px solid #a0a083;

}
#Description{
    text-align: center;
}
#HF{
    width:100%;
    text-align: center;
    font-family: 'Notable', sans-serif;
    color:rgb(255, 255, 255);
    background-color:#4d6a6d;
    border-bottom:3px solid #a0a083;

}
#hobbieimg{
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:100%;
    height:20vh;
    background-color:rgba(255, 255, 255, 0.45);
    border:1px solid #8f91a2;
    
}
#hobbieimg img{
    width:18%;
    height:15vh;
}
/* right bot*/
#botright{
    transform-style: preserve-3d;
    transition: all 2s ease-in-out;
}
#botRfront{
    width:50vw;
    height:50vh;
    background-image:url(imgportfolio.png);
    background-position:center;
    background-size:cover;
    backface-visibility: hidden;
    background-color:#eae0cc;
    
    
}
#Tport{
    width:100%;
    height:10vh;
    font-family: 'Notable', sans-serif;
    color:rgb(255, 255, 255);
    border-bottom:5px solid #668586;
    border-top:5px solid #668586;
    background-color:#4d6a6d;
    font-size:3em;
}
#botBback{
    position:absolute;
    top:0vh;
    width:50vw;
    height:50vh;
    transform: rotateY(180deg);
   transition: all 2s ease-in-out;
   background-color:#eae0cc;
    backface-visibility: hidden;
}

#TitlebotRback{
    width:100%;
    text-align:center;
    font-family: 'Notable', sans-serif;
    color:rgb(255, 255, 255);
    background-color:#4d6a6d;
    border-bottom:2px solid #a0a083;

}
#liens{
    display:flex;
    justify-content: space-around;
    margin-top:5vh;
    width:100%;
    height:30vh;
    background-color:#eae0cc;
    border-top:2px solid #4d6a6d;
    border-bottom:2px solid #4d6a6d;

}
#liens a{
    display:flex;
    justify-content: center;
    width:40%;
    height:100%
}