body{
    background-image: url(cloud.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    width:100%;
    height:100%;
    font-family: 'Teko', sans-serif;
    transform-style: preserve-3d;
}

/* accueil */
#topaccueil{
    position: absolute;
    top:0;
    width: 100vw;
    height:50vh;
    background-color:black;
    background-image:url(top2.png);
    background-size:cover;
    background-position:bottom;
    transition: all 5s ease-in-out;
    display:flex;
    flex-flow: row wrap;
    text-align:center;
    align-items: center;
    z-index:10;
    
}
#topaccueil #Twynot{
    position: absolute;
    width:100%;
    font-size:7em;
    font-family: 'Kaushan Script', cursive;
    color:rgba(0, 0, 0, 0.678);
    text-shadow:5px 5px 10px rgb(255, 255, 255);
}
#topaccueil #STwynot{
    position:absolute;
    top:25%;
    width:100%;
    font-size:4em;
    font-family: 'Great Vibes', cursive;
    color:rgba(0, 0, 0, 0.678);
    text-shadow:5px 5px 10px rgb(255, 255, 255);
}

#bot{
    position: absolute;
    width: 100vw;
    top:50vh;
    height:50vh;
    background-image:url(bot2.png);
    background-size:cover;
    background-position:top;
    transition: all 5s ease-in-out;
    background-color:black;
    text-align:center;
    z-index:10;
}

#bot #STcrea{
    position: absolute;
    width:100%;
    top:75%;
    font-size:1.5em;
    font-family: 'Great Vibes', cursive;
    color:rgba(0, 0, 0, 0.678);
    text-shadow:5px 5px 10px rgb(255, 255, 255);
}
#container{
    z-index:-3;
    display:none;
}
/*pas principal*/
.blue{
    background:-webkit-linear-gradient(#eee,rgb(72, 130, 148),rgb(13, 73, 112));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
section{
    transition:all 0.5s ease-in-out;
    opacity:0;
}

/* Block de haut avec titre et nav */
#top{
    position:relative;
    background-color:white;
    display:flex;
    flex-flow: row wrap;
    height:50vh;
    opacity:1;
    
}

#Title{
    width:100%;
    display:flex;
    flex-flow: row wrap;
}
#name{
    width:100%;
    height:10vh;
    font-size:5em;
    text-align:center;
    background:-webkit-linear-gradient(#eee,grey,rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Megrim', cursive;
    
}
#job{
    width:100%;
    height:10vh;
    font-size:2.5em;
    margin-top:-3vh;
    text-align:center;
    background:-webkit-linear-gradient(#eee,grey,rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Megrim', cursive;
    
}
.nav{
    display:flex;
    justify-content: center;
    width:100%;
    height:5vh;
    margin-top:5vh;
    
}
#Pres{
    background:linear-gradient(#eee,rgb(72, 130, 148),rgb(13, 73, 112));
}
#LinkNav{
    color:black;
}
.reseau{
    width:100%;
    height:5vh;
    display:flex;
    justify-content: center;
}
#ares{
    color:black;
}
.respopup{
    width:10%;
    display:flex;
    justify-content: space-around;
}

/* second block avec la présentation */
#Blockpresentation{
    background-color:white;
    margin-top:30vh;
    display:flex;
    flex-flow: row wrap;
    height:50vh;
}
#titlepresentation{
    width:100%;
    height:10vh;
    font-size:3em;
    text-align:center;
    background:-webkit-linear-gradient(#eee,grey,rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Megrim', cursive;
}
#contentpresentation{
    top:-5vh;
    
}
#pres{padding:5vw;}
#iconshob{
    margin-top:5vh;
    width:100%;
    height:15vh;
    display:flex;
    justify-content: center;
    
}
#Sport,#sorties{
    align-self:flex-end;
}
#hobbies{
    top:7vh;
}
#hobbies i{
    font-size:4em;
    background:-webkit-linear-gradient(#eee,rgb(72, 130, 148),rgb(13, 73, 112));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition:all 1s ease-in-out;
}
#hobbies i:hover{
    transform: scale(1.2);
}
/* 3e block avec les compétences */

#BlockCompetences{
    background-color:white;
    margin-top:40vh;
    display:flex;
    flex-flow: row wrap;
    height:100vh;
}
#titleCompetences{
    width:100%;
    height:10vh;
    font-size:3em;
    text-align:center;
    background:-webkit-linear-gradient(#eee,grey,rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Megrim', cursive;
}
#textcompet{font-size:1.2em;}

.Langage{width:100%;}

.bouttoncv{
    width:100%;
    height:4vh;
    display:flex;
    justify-content: center;
}

#modaldial{width:40vw;}

/* 4e block portfolio */

#BlockPortfolio{
    background-color:white;
    margin-top:60vh;
    display:flex;
    flex-flow: row wrap;
    height:80vh;
    
}
#titleportfolio{
    
    width:100%;
    height:10vh;
    font-size:3em;
    text-align:center;
    background:-webkit-linear-gradient(#eee,grey,rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Megrim', cursive;
}
#portfolio {
   width:100%;
}

/* footer */

#Basdepage{
    position:sticky;
    background-color:white;
    display:flex;
    flex-flow: row wrap;
    height:10vh;
    bottom: 0;
    
}
#fleche{
    position:relative;
    width:6vw;
    height:5vh;
    border-radius:50%;
    top:-3vh;
    left:50%;
    transform: translateX(-50%);
    background-color:white;
    border:3px solid rgb(72,130,148);
    display:flex;
    justify-content: center;
    align-items: center;

}
#fleche i{
    width:75%;
    font-size:3em;
    text-align:center;
   color:rgb(72, 130, 148);
}
#end{
    margin-top:10vh;
    height:5vh;
}

@media(max-width:400px){
    #topaccueil #Twynot{font-size:4em;}
    #topaccueil #STwynot{font-size:2em;}

    #top{height:30vh;opacity:1;}
    .nav{margin-top:0vh;}
    #name{font-size:2.5em;}
    #job{font-size:1.2em;}

    #Blockpresentation{height:75vh;opacity:1;}
    #BlockCompetences{opacity:1;}
    #BlockPortfolio{height:100vh;opacity:1;}
    #portfolio{top:0;height:100%;}
    #imgportv{
    height:75%;width:50%;padding:0;
    }
    #imgporth{
    
    height:50%;width:50%;padding:0;
    }
}