body{
    margin:0;
    padding:0;
    
    font-family: 'Megrim', cursive;
    font-family: 'Monoton', cursive;
    overflow: hidden;
}
/* page attente */
#anim{
    position:absolute;
    z-index:10000;
    width:100%;
    display:flex;
    flex-flow: row wrap;
    perspective: 500px;
    perspective-origin: 50% 50%;
}
#anim img{
    position:relative;
    width:33%;
    height:33vh;
    background:linear-gradient(black,white);
    opacity: 0.5;
    transition:2s all ease-in-out;
}
.allA{
    z-index:1;
    width:100%;
    height: 100vh;
    background-color:black;
}
#title{
    position: absolute;
    color:white;
    font-size: 7.5vw;
    
    left:50%;
    transform: translateX(-50%);
    opacity:1;
    text-shadow: 5px 5px 50px rgb(252, 252, 252);
    z-index:10;
    animation: neon 0.5s infinite linear; 
}
@keyframes neon{
    0%{
        opacity:1;
    }
    100%{
        opacity:0.2;
    }
}
#mid img{
    position: absolute;
    top:50%;
    left:50%;
    width:40%;
    transform: translateX(-50%) translateY(-50%);
    
}
.link{
    position:absolute;
    text-align: center;
    width:20%;
    transform: translateX(-50%) translateY(-50%);
    left:50%;
    top:85%;
    opacity:0.2;
    
}
.link:hover{
    opacity:1;
}

#Enter{
    
    color:white;
    text-decoration: none;
    text-align: center;
}
#trait{
    position:absolute;
    width:2%;
    height:2vh;
    left:50%;
    background-color:white;
    animation: updown 1s infinite linear; 
    
}
@keyframes updown{
    0%{
        height:2vh;
    }
    100%{
        height:6vh;
    }
}
/* page principal */
.all{
    
    width:100%;
    perspective: 1000px;
}
#fond{
    background-image: url(tigre/tigre.jpg) ;
    background-size:cover;
    background-position:center;
    width:100%;
    height:100vh;
    
    
}

#boutton{
    background-color:rgb(29, 27, 27);
    border-bottom:3px solid orange;
    position: absolute;
    display: flex;
    justify-content: space-around;
    width:100%;
    height:10vh;
    top:0;
    
    opacity:0;
}
button{
    font-family: 'Megrim', cursive;  
    font-size:2em;
    padding:1em 5em;
    color:white;
    text-shadow: 2px 2px 10px white;
    background-color: rgba(0, 0, 0, 0);
    border:none;
    animation: neonb 3s infinite linear; 
}
@keyframes neonb{
    0%{
        color:white;
    }
    100%{
        color:orange;
    }
}

#cont1{left:20%;}
#cont2{left:50%;}
#cont3{left:80%;}
#container1,#container2,#container3,#container4{
    position:absolute;
    display:flex;
    flex-flow: row wrap;
    width:100%;
    height:80vh;
    top:10%;
    
    
    
    opacity:0;
    transition:5s all linear;
    text-align: center;
    
}


/*container accueil*/
#me{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Sanstitre.png);
    background-size:cover;
}

#textes{
    width:50%;
    
}
/*container compétences*/
#Tpro{
    width:100%;
    font-size:2em;
    font-family: 'Megrim', cursive;
}
.illus{
    width:100%;
    font-family: 'Megrim', cursive; 
    font-size: 2em;
}
.list{
    list-style-type: none;
}
.list #vert{
    color:green;
}
.list #orange{
    color:orange;
}
.list #rouge{
    color:red;
}
#Portfolio{
    z-index:100;
    display:flex;
    
    justify-content: space-around;
    align-items: center;
    width:100%;
    height:50%;
    background-color:rgb(219, 219, 219);
}

#Portfolio #PFC{
    width:30%;
    height:50%;
    background-image: url(LiensPFC.png);
    background-position: center;
    background-repeat: no-repeat;
}
#Portfolio #Morp{
    width:30%;
    height:50%;
    background-image: url(LiensMorpion.png);
    background-position: top;
    background-repeat: no-repeat;
}
#hobbie{
    font-family: 'Megrim', cursive; 
    width:100%;
    display:flex;
    flex-flow: row wrap;
}
#hobbie span{
    width:100%;
    height:10vh;
    
}
#hobbieimg{
    width:100%;
    height:10vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
#textPro{
    width:100%;
    font-family: 'Michroma', sans-serif;
    
}

#MenuP{
    width:75%;
    background-color:rgb(29, 27, 27);
    border-top:2px solid orange;
    padding:2% 1%;
    position:absolute;
    top:93.5%;
    left:50%;
    transform: translateX(-50%) translateY(-15%);
    color:rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-family: 'Megrim', cursive;
    animation: neonb 3s infinite linear; 
}


@media only screen and (max-width: 800px){
   
    .imganim{
        display:none;
    }
    #boutton{
        display: inline-block;
        text-align: center;
        height: 25vh;
        opacity:1;
        z-index:100;
        
    }
    button{
        width:100%;padding:0em;opacity:1;}
    #container1,#container2,#container3,#container4{
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        top:15%;
        max-height: 80%;
        overflow: scroll;
        opacity:1;
    }
    #container2,#container3,#container4{
        display:none;
    }
    #me{
        margin-top:10vh;
        width:50%;
        height:30vh;
        
    }
    #container2,#container3,#container4 #textes{
        top:30vh;
    }
    #textes{
        
        width:100%;
       
    }
}