body{
    width: 100%;
    height: 100vh;
    background-image:url(SitePC/blur.jpg);
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content: center;
    align-items: center;
}
#topaccueil{
    position: absolute;
    top:0;
    width: 100vw;
    height:50vh;
    background-color:black;
    background-image:url(top2.png);
    background-size:cover;
    background-position:bottom;
    transition: all 5s ease-in-out;
    display:flex;
    flex-flow: row wrap;
    text-align:center;
    align-items: center;
    z-index:10;
    left:0;
    
}
#topaccueil #Twynot{
    position: absolute;
    width:100%;
    font-size:7em;
    font-family: 'Anton', sans-serif;
    color:rgba(0, 0, 0, 0.678);
    text-shadow:5px 5px 10px rgb(255, 255, 255);
}
#topaccueil #STwynot{
    position:absolute;
    top:25%;
    width:100%;
    font-size:4em;
    font-family: 'Felipa', cursive;
    color:rgba(0, 0, 0, 0.678);
    text-shadow:5px 5px 10px rgb(255, 255, 255);
}

#bot{
    position: absolute;
    width: 100vw;
    top:50vh;
    height:50vh;
    background-image:url(bot2.png);
    background-size:cover;
    background-position:top;
    transition: all 5s ease-in-out;
    background-color:black;
    text-align:center;
    z-index:10;
    left:0;
}

#bot #STcrea{
    position: absolute;
    width:100%;
    top:75%;
    font-size:1.5em;
    font-family: 'Great Vibes', cursive;
    color:rgba(0, 0, 0, 0.678);
    text-shadow:5px 5px 10px rgb(255, 255, 255);
}

.containt{
    width:50%;
    height:50vh;
    background-color:rgb(46, 43, 43);
    box-shadow: 0px 0px 5px 5px white;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.Choice{
    width:100%;
    color:white;
    font-family: 'Inconsolata', monospace;
}
.pc,.smartph{
    display:flex;
    justify-content:center;
    align-items: center;
    width:48%;
    height:40%;
    background-color:white;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size:3em;
}
@media (max-width:700px){
    #topaccueil #Twynot{
        font-size:3em;
    }
    #topaccueil #STwynot{
        font-size:1.5em;
    }
    .pc,.smartph{
        width:100%;
        font-size:1.5em;
    }
}